@model Website.Models.ViewModels.GamesViewModel;
@{
    ViewData["Title"] = "Games";
}

<div>
    <form action="" class="mb-2" id="searchForm">
        <div class="input-group">
            <div class="form-floating">
                @Html.TextBoxFor(
                    model => model.Query,
                    string.Empty,
                    new { type = "search", @class = "form-control", placeholder = "", id = "queryInput" }
                )
                @Html.LabelFor(m => m.Query, "Search Games")
            </div>
            <button type="button" class="btn btn-secondary" onclick="clearSearch()"><i class="bi bi-x-lg"></i></button>
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </form>

    @foreach (var game in Model.Games)
    {
        <a
            asp-controller="Games"
            asp-action="ViewGame"
            asp-route-id="@game.Id"
            class="link-underline link-underline-opacity-0"
        >
            <partial name="Components/GameCard" model="game"/>
        </a>
    }
</div>

@section Scripts
{
    <script>
        const searchForm = $("#searchForm");
        const queryInput = $("#queryInput");

        function clearSearch() {
            if (queryInput.val() === "")
                return;
            queryInput.val("");
            searchForm.submit();
        }
    </script>
}

