@model Website.Models.ViewModels.SearchGamesViewModel

@{
    ViewData["Title"] = $"\"{Model.Query}\" results";
}

<div>
    <form action="">
        <div class="input-group mb-2">
            <div class="form-floating">
                <input type="search" name="query" id="query" class="form-control" placeholder="" value="@Model.Query">
                <label for="query">Search</label>
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <h4 class="mt-4 mb-2">Results</h4>
    @if (Model.SearchResults is { Count: > 0 })
    {
        foreach (var game in Model.SearchResults)
        {
            <a asp-controller="Games" asp-action="ViewGame" asp-route-id="@game.Id" class="link-underline link-underline-opacity-0">
                <partial name="Components/GameCard" model="game"/>
            </a>
        }
    }
    else
    {
        <p>No results</p>
    }
</div>