@model ViewBasketViewModel
@{
    ViewData["Title"] = "Basket";
}

<div>
    <h1>Your Basket</h1>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item.Game.Name</li>
        }
    </ul>
</div>
